body {
    background-color: powderblue;
  }
  h1 {
    color: black;
  }
  
  h3{
    text-align: center;
  }
p {
color: black;
/* background-color: cornflowerblue; */
/* text-align: left; */
text-align: center;
} 
 a{
   color: blue;
   text-align: center;
 }
 .Miscellaneous{
     padding:10px;
     align-items: center ;
     
     
 }
 
 .challenge{
   /* padding:5px; */
   width: 600px;
   margin: auto;
   float : center ;
   align-items: center;
   background-color: rgb(141, 174, 236);
     /* text-shadow: 2px 2px 3px black; */
 }
  
